*{

	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}



body{


	background-color:white;
}
a:link{
	text-decoration: none;
}
.p_bg_color{
	background-color: #00bbff;
}
.p_text_color{
	color: #00bbff;
}

@font-face {
	font-family: 'comt';
	src: url('COM4F_RG.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;	
}

iframe{

	widows:930px; 
	width: 700px;
	height:500px; 
	position:center;
	margin-left:425px;
}

/*##########################################################*/

.black-wrapper{
	background-color: black;
	width: 100%;
}	
.nivo-controlNav{
	display: none;
}
header,nav{
	padding-top: 40px;
	padding-bottom: 30px;/*30px;*/
	
}
header h1{  /*Color del titulo*/
	
	color:white;	
	padding-right: 10px;
}

.span-12{

	width:  100%;
	
	
}




/*##########################################################*/


	

nav ul{
	list-style-type: none;
}
nav ul li{ /*espacio entre los titulares*/
	display: inline;
	margin-left: 20px;
}
nav ul li a{
	color:#ededed;
	font-family: "COM4t Fine Regular",comt , "Times New Roman", Verdana, sans-serif;
}
nav ul li.active a{
	color: #00bbff;
}
nav ul li a:hover{color: #00bbff;text-decoration: underline;}

/*##########################################################*/
#slider_wrapper {
	height: 500%;
	width: 100%;
	background-color: black;
	margin-bottom: 40px;
	
}
#slider{
	border:15px solid #ececec;
	outline: 1px solid #e3e3e3;
}


#slider img{
	object-fit: cover;
	
}

/*para pagina html*/

#slider_wrapperSecond {
	height: 500%;
	width: 100%;
	background-color:black;
	margin-bottom: 40px;/*ESPACIO ENTRE EL SLIDER Y TEXTO*/
	
}
#slider{
	border:15px solid #ececec;
	outline: 1px solid #e3e3e3;
}


#slider img{
	object-fit: cover;
	
}




/*##########################################################*/
#icons_wrapper{ /*barra negra del GO!*/
	padding: 20px 0 25px 0;
	background-color:#333333;
	background:-moz-linear-gradient(#333333,#484848);
	background:-webkit-linear-gradient(#333333,#484848);
	background:-o-linear-gradient(#333333,#484848);
	background:-ms-linear-gradient(#333333,#484848);
	background:linear-gradient(#333333,#484848);
	margin-bottom:90px;
	color:#ededed;	
}
#icons_wrapper img{
	padding-top: 10px;
}

/*##########################################################*/
/*the FOUR paragraphs css styles*/
#four_parags{ /*ESPACIO IMAGENES ICONOS LENGUAJES*/
	margin-bottom: 70px;
}
.one_parag {
	text-align: center;
}

.one_parag h2 {/*ICONOS INFORMACION PERSONAL*/
	font-size: 18px;/*tamañano dela fuente negra*/
	font-weight: bold;
	color: #4c4c4c;
	margin: 20px ;
}

.one_parag p{
	font-size: 14px;
	color: #b5b5b5;
	line-height:21px;
}
.one_parag img{height:60px;}
.one_parag:hover{
	background-color:#ededed;
	box-shadow:inset 0 0 1px #00bbff;
}


/*#########################################################*/
.one_image a {
	font-size: 14px;
	padding:10PX 0;
	color: #00bbff;
}

#four_images h2{
	font-size: 18px;
	font-weight: bold;
	color: #4c4c4c; 
	background: url(../images/b_line.jpg) repeat-x left center;
	margin-bottom: 40px;
}
#four_images h2 span{
	background-color: #f4f4f4;
	padding-right:20px;
}
.one_image p {
	font-size: 14px;
	color: #b5b5b5;
	line-height:21px;
	margin: 30px 0;
}


/*##########################################################*/


/*############################################################*/
footer{
	margin-top: 70px;
	background-color: #FFFFFF;
	padding: 30PX 0;
	border-top: 1px solid #ececec;
	color: #4c4c4c;
}

/*##########################################################*/
